.counter {
  font-weight: bold;
}

.counter--green {
  composes: counter;
  color: rgb(25,200,25);
}

.full_logo {
  display: block;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.welcome {
  margin-bottom: 1.5rem;
}

.counter_title {
  margin-bottom: 1.5rem;
}
